In [7]:
import pandas as pd
import numpy as np

In [9]:
# DataFrame - 2차원 데이터 관리 자료구조
# 2차원 데이터는 리스트안에 딕셔너리 혹은 리스트안에 튜플 리스트안에 리스트 구조를 
# 말한다. (Series와 차이점 =  컬럼이 붙는다.)
# pd.DataFrame(data,columns=['kor','eng'],index=['aa','bb','cc','cc'])
data = [[10,20],[30,40],[50,60],[70,80]]
df = pd.DataFrame(data,columns=['kor','eng'],index=['aa','bb','cc','cc'])
df

    kor  eng
aa   10   20
bb   30   40
cc   50   60
cc   70   80

In [10]:
# DataFrame = 리스트의 딕셔너리 구조
# 딕셔너리의 키가 컬럼명으로 부여된다.
data = [{'kor':10,'eng':20},{'kor':30,'eng':40},{'kor':50,'eng':60},{'kor':70,'eng':80}]
df = pd.DataFrame(data)
df

   eng  kor
0   20   10
1   40   30
2   60   50
3   80   70

In [12]:
# DataFrame = 리스트의 딕셔너리 구조(키의 값이 리스트인 경우)
data = {'kor':[10,30,50,70],'eng':[20,40,60,80]}
df = pd.DataFrame(data)
df

   kor  eng
0   10   20
1   30   40
2   50   60
3   70   80