In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'kor':[10,30,50,70],'eng':[20,40,60,80],'math':[33,44,55,66]}
df = pd.DataFrame(data,index=['aa','bb','cc','dd'])
df

    kor  eng  math
aa   10   20    33
bb   30   40    44
cc   50   60    55
dd   70   80    66

### DataFrame 연산

In [3]:
# 전체 개별 데이터에 전부 연산의 값이 반영된다.
df+2

    kor  eng  math
aa   12   22    35
bb   32   42    46
cc   52   62    57
dd   72   82    68

In [4]:
# 원하는 컬럼을 선택 한 후 그 값에 연산 값을 적용한다.
# 결과값은 시리즈 반환
df['kor']+2

aa    12
bb    32
cc    52
dd    72
Name: kor, dtype: int64