### 데이터프레임의 apply 함수

In [19]:
import pandas as pd
import numpy as np

In [2]:
data = {'kor':[80,30,50,70],'eng':[20,90,90,80],'math':[33,44,55,66]}
df = pd.DataFrame(data,index=['aa','bb','cc','dd'])
df

    kor  eng  math
aa   80   20    33
bb   30   90    44
cc   50   90    55
dd   70   80    66

In [7]:
# v는 각 컬럼에 대한 시리즈다.
def fn(v):
    print('====')
    print(v)
    return v.sum()
#     return v[0] #v['aa']

In [14]:
# v는 각 컬럼에 대한 시리즈다.
def fn1(v):
    print('====')
    print(v)
    return v.sum()
#     return v[0]

In [18]:
df.apply(lambda v:"이상" if v[0]>=50 else '이하',axis=1)

aa    이상
bb    이하
cc    이상
dd    이상
dtype: object

In [16]:
# axis 를 쓰면 기준이 row로 변경된다.
# df.apply(fn1,axis = 1)
df.apply(lambda v:v.sum(),axis=1)

aa    133
bb    164
cc    195
dd    216
dtype: int64

In [10]:
# df.apply(fn)
df.apply(lambda v: v.sum())

kor     230
eng     280
math    198
dtype: int64

### 데이터프레임 for loop

In [20]:
# 데이터 프레임 for 룹은 컬럼명이 나온다.
for n in df:
    print(n)

kor
eng
math

In [27]:
# 딕셔너리 포맷
d = {'aa':10,'bb':20}
print("%(aa)d %(bb)d"%d)

10 20

In [28]:
# 튜플로 나오는데 첫번째 인자는 컬럼명이 들어가고 나머지 뒤에는 시리즈가 들어감
for idx,v in df.items(): # for n in df.iteritems():
#     print(idx,'%d %d %d'%(v[0],v[1],v[2]))
    print(idx,'%(aa)d %(bb)d %(cc)d'%v)

kor 80 30 50
eng 20 90 90
math 33 44 55

In [33]:
# row별로 시리즈가 형성됨
for idx,v in df.iterrows():
    print(idx, "%d %d %d"%(v[0],v[1],v[2]))
#     print(idx, "%d %d %d"%(v['kor'],v['eng'],v['eng']))

aa 80 20 33
bb 30 90 44
cc 50 90 55
dd 70 80 66