In [1]:
import pandas as pd
import numpy as np

In [14]:
data = {'kor':[80,30,50,70],'eng':[20,90,90,80],'math':[33,44,55,66]}
df = pd.DataFrame(data,index=['aa','bb','cc','dd'])
df

    kor  eng  math
aa   80   20    33
bb   30   90    44
cc   50   90    55
dd   70   80    66

### 통계학과 관련된 멤버함수

In [6]:
# max(axis = 0) => 각 컬럼에서 가장 높은 값을 가지고 오시오
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.max.html
# DataFrame.max(axis=None, skipna=None, level=None, numeric_only=None, **kwargs)
df.max(axis = 0)

kor     80
eng     90
math    66
dtype: int64

In [5]:
# axis=1이면 row를 보고 row중에서 가장 큰 값을 가지고 오라
df.max(axis=1)

aa    80
bb    90
cc    90
dd    80
dtype: int64

In [7]:
# .min() => 각 컬럼에서 가장 작은 값을 가지고 오시오
df.min()

kor     30
eng     20
math    33
dtype: int64

In [8]:
# min(axis=1) = > 각 인덱스에서 가장 작은 값을 가지고 오시오
df.min(axis=1)

aa    20
bb    30
cc    50
dd    66
dtype: int64

In [10]:
# df.max() => 이게 시리즈로 되니까 여기서 다시 max()를 넣으면 가장 큰값이 나옴
# meaning => 데이터 프레임 전체에서 가장 큰 값을 가지고 오시오
df.max().max()

90

In [11]:
# .sum() => 각 컬럼의 총합을 구하시오
df.sum()

kor     230
eng     280
math    198
dtype: int64

In [12]:
#.sum(axis = 1) => 각 인덱스의 총합을 구하시오
df.sum(axis = 1)

aa    133
bb    164
cc    195
dd    216
dtype: int64

In [13]:
df['sum'] = df.sum(axis = 1) # df.kor+df.eng+df.math => 인덱스별로 더하니까 됨ㅋㅋ
df

    kor  eng  math  sum
aa   80   20    33  133
bb   30   90    44  164
cc   50   90    55  195
dd   70   80    66  216

In [18]:
# df.sum() => 각 컬럼별 sum 값을 구한다음에 => 시리즈됨
# df.sum().sum() => 그 시리즈의 모든 값들을 더하니까
# 데이터 프레임의 있는 모든 값들의 합을 구할때는 이렇게 하면됨
df.sum()

kor     230
eng     280
math    198
dtype: int64

In [19]:
# .mean() => 각 컬럼별 평균을 구하시오
df.mean()

kor     57.5
eng     70.0
math    49.5
dtype: float64

In [20]:
# .mean(axis = 1) => 각 학생별 평균을 구하시오(인덱스별 평균을 구하는 공식)
df.mean(axis = 1)

aa    44.333333
bb    54.666667
cc    65.000000
dd    72.000000
dtype: float64

In [22]:
# .std() => 각 컬럼별 표준편차를 구하시오
# df.std()
# .std(axis =1) => 각 학생평 표준편차를 구하시오(인덱스별 표준편차를 구하는 공식)
df.std(axis =1)

aa    31.564748
bb    31.390020
cc    21.794495
dd     7.211103
dtype: float64

In [25]:
# .median() => 각 컬럼별 중간값을 구하시오
# df.median()
# .median(axis =1) => 각 학생평 표준편차를 구하시오(인덱스별 표준편차를 구하는 공식)
df.median(axis =1)

aa    33.0
bb    44.0
cc    55.0
dd    70.0
dtype: float64

In [29]:
# .quantile(0.5) == .median()
# quantile(0.5,axis=1) == .median(axis =1) 
df.quantile([0.25,0.5,0.75])

       kor   eng   math
0.25  45.0  65.0  41.25
0.50  60.0  85.0  49.50
0.75  72.5  90.0  57.75

In [30]:
# .describe() => 통계함수를 이용하여 구할 수 있는 것을
# 하나의 데이터프레임으로 구성하여 만들어줌
# axis가 없을때는 컬럼별로 통계가 적용된것을 볼 수 있음
df.describe()

             kor        eng       math
count   4.000000   4.000000   4.000000
mean   57.500000  70.000000  49.500000
std    22.173558  33.665016  14.200939
min    30.000000  20.000000  33.000000
25%    45.000000  65.000000  41.250000
50%    60.000000  85.000000  49.500000
75%    72.500000  90.000000  57.750000
max    80.000000  90.000000  66.000000